@import "tailwindcss";


@theme {
  --color-olive-grand: #405d65;
  --color-black-grand: #303133;
  --color-grey-grand: #bababa;
  --text-parrafos: 14px;
  --text-title-section: 24px;
  --text-suptitle: .6em;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body, h1, h2, h3, p, div {
  font-family: var(--font-manrope), sans-serif;
}

.dropdown_menu {
  transform: translateX(-100%);
  transition: all .7s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #405d65;
  height: 100vh;
}

.dropdown_menu.show-menu {
  transform: translateX(0);
}
.swiper-button-prev:after, .swiper-button-next:after {
  color: #ffffff;
}


@layer base {
  h1 {
    @apply text-4xl font-bold text-gray-900;
  }
  h2 {
    @apply text-3xl font-semibold text-gray-800;
  }
  h3 {
    @apply text-2xl font-medium text-gray-700;
  }
  h4 {
    @apply text-xl font-medium text-gray-600;
  }
  p {
    @apply text-base text-gray-600 leading-relaxed;
  }
}

@layer components {
  .divider-line {
    @apply w-20 h-[3px] bg-grey-grand mb-4 mt-2;
  }
  .suptitle{
    @apply text-suptitle uppercase text-grey-grand tracking-widest;
  }
  .fade-animation {
    @apply  transition-opacity duration-300 ease-in-out;
  }
  .ItemsMenuLeft {
    @apply  ml-[90px] ;
  }
  .ItemsMenuRight {
    @apply  mr-[90px];
  }
  .FloatLeft{
    @apply  absolute top-[65px] left-[calc((100%-1140px)/2)];
  }
  .FloatRight{
    @apply  absolute top-[65px] right-[calc((100%-1140px)/2)];
  }
  .ContainerFlex{
    @apply flex justify-between w-[1140px] mx-auto py-[60px] items-center;
  }
  .MenuLight{
    @apply flex gap-[10px] text-white;
  }
  .FormTC {
    @apply absolute left-1/2 z-[98] top-[80%] w-[1140px] h-[85px] bg-white translate-x-[-50%] m-0 rounded-none  w-full max-w-6xl mx-auto bg-white shadow-md flex items-center;
  }
  .OverlayHeader {
    @apply w-full z-[99] absolute top-0 left-0 bg-gradient-to-b from-[rgba(0,0,0,0.4)] to-transparent h-full pointer-events-none;
  }
  
}
